body{
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: crimson;
    color:linen;
}
#container{
    margin:auto;
    height : auto;
    border:2px solid black;
    display: flex;
    flex-wrap: wrap;
    /* width:calc(34px*16); */
    /* display:grid; */
    /* grid-template-columns: repeat(16,1fr); */
    /* gap:0; */


}
.grid{
    border:1px solid rgba(125, 118, 118, 0.567);
}
#gameBtnsDiv{
    margin:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:30%;
}
button{
    width: 50px;
    background-color: rgb(131, 188, 45);
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    justify-self: flex-end;
}
/* .grid:hover{
    background-color: black;
} */